*{
    background-color: #B1D4E0;
    
}

.user:hover{
    color: white;
}

.navbar{
    font-family: 'Dongle', sans-serif;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.5px;
    height: fit-content;
    width: 100%;
    font-size: 35px;
}

.r{
    float: right;
    padding-right: 30px;
}

.navbar button {
    font-family: 'Dongle', sans-serif;
    width: 120px;
    height: 35px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    
}

.navbar button:hover {

    width: 200px;
    height: 38px;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 5px;

}


/*  Responsive  */

@media (max-width:374px)
{
    
}