.container{
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #E7DECD;
    border-radius: 30px;
    border: 2px solid #0FA3B1;
}
.container h1{
    color: #0A122A;
}

.c1{
    width: 20%;
}
.c2{
    float: right;
    width: 20%;
}
.right{
    width: 50%;
    size: 30px;
}

.left{
    width: 50%;
}

.flag{
    width: 90px;
    height: 60px;
}